.hero {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(rgba(8, 0, 58, 0.474), rgba(0, 0, 0, 0.726)), url('../../assets/bg1.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;


}

.hero-text {
    text-align: center;
    max-width: 800px;

}

.hero-text p {
    max-width: 700px;
    margin: 10px auto 20px;
    line-height: 1.4;


}